body{
    margin: 0;
    background:black;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

.navigation{
    margin: 0;
    padding: 0;
    border: 1px solid red;
    display: grid;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    justify-content: space-around;
}

.navigation-item{
    list-style: none;
    border: 1px solid red;
}


.credits {
    font-family: system-ui;
    background: #212429;
    font-size: 11px;
    color: white;
    padding: 0.5rem 0;
    text-align: center;
  }
  .credits a {
    color: #F865B0;
    text-decoration: none;
  }